.calendar__table {
    background-color: lightgrey;
    /*padding: 50px;*/
    border: 1px solid #CCC;
    vertical-align: top;
    width: 130px;
    height: 130px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 25px;

}


.container-limited {
    max-width: 1140px
}




/*.calendar__table {*/
/*    background-color: lightgrey;*/
/*    !*padding: 50px;*!*/
/*    border: 1px solid #CCC;*/
/*    vertical-align: top;*/
/*    width: 130px;*/
/*    height: 130px;*/
/*    text-align: left;*/
/*    margin-left: 0;*/
/*}*/



.centrage {
    text-align: center;
    width: auto;
}

.justification {
    text-align: justify;
}

.centrageleft {
    text-align: left;
}

.centrageAuto {
    width: auto;
}

.centrageright {

    /*horiz-align: right;*/
    position: absolute;
    right: 10em;
}

.centragerightregistration {

    /*horiz-align: right;*/
    position: absolute;
    right: 29em;
}

.clock {
    color: white;
    font-weight: bold;
}

.calendar__table__pending {
    background-color: lightyellow;
    padding: 50px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendar__table2 {
    background-color: yellow;
}

.bord {
    border-collapse: collapse;
    line-height:25px;
    white-space: nowrap;
}

.bord2{
    /*border: 1px solid black;*/
    line-height: 100px;
}

.bol{
    font-weight: bold;
}

.bolusers{
    font-weight: bold;
    /*text-decoration: underline;*/
    /*width: 5%;*/
}

/*.status_pending{*/
/*color: darkgoldenrod;*/
/*}*/

.demandListTable{
    line-height:10px;
}

.holidaydemand-status1{
    display:inline;
    color: red;
}

.oneline{
    display:inline;
}

.oneline2{
    display: inline-block;
}


.nobreak{
    white-space: nowrap;
    padding-left:20px;
}

.nobreakcommunication{
    white-space: nowrap;
}

.nobreakunprocessed{
    white-space: nowrap;
    padding-left:16px;
}

.nobreakleft{
    white-space: nowrap;
    padding-left:20px;
}

.nbspaces{
    padding-left:20px;
    /*padding-right: 1px;*/
}

.nbspaces_twice{
    padding-left:40px;
    /*padding-right: 1px;*/
}

.nbspacesdemandshow{
    padding-left:60px;
}

.holidaydemand-status2{
    background-color: green;
}

.holidaydemand-status3{
    color: darkred;
}

.acceptButton{
    color: black;
}

.refuseButton{
    color: black;
}

.today-color{
    background-color: darkgrey;
}

.demandListMargin{
    /*margin-top:2px;*/
    margin-left : 30px;
    margin-right : 30px;
    white-space: nowrap;
    /*margin-bottom:2em;*/
    /*margin-left:100px;*/
}

.demandListMarginLast{
    /*margin-top:2px;*/
    margin-left : 2px;
    margin-right : 0;
    white-space: nowrap;
    /*margin-bottom:2em;*/
    /*margin-left:100px;*/
}

.demandListMarginFirstTitle{
    /*margin-top:2px;*/
    margin-left : 0;
    margin-right : 1px;
    white-space: nowrap;
    color: midnightblue;
    /*text-decoration: underline;*/
    /*margin-bottom:2em;*/
    /*margin-left:100px;*/
}

.demandListMarginFirstTitleIsNoLink{
    margin-left : 0;
    margin-right : 1px;
    white-space: nowrap;
}

.demandListMarginTitles {
    margin-left : 30px;
    margin-right : 1px;
    white-space: nowrap;
    /*text-decoration: underline;*/
    color: midnightblue;
}

.demandListMarginTitlesIsNoLink {
    margin-left : 30px;
    margin-right : 1px;
    white-space: nowrap;
}

.demandListMarginPeriod {
    margin-left : 20px;
    margin-right : 1px;
    white-space: nowrap;
    color: midnightblue;
}

.demandListMarginPeriodIsNoLink {
    margin-left : 20px;
    margin-right : 1px;
    white-space: nowrap;
}

.demandListMarginTitlesStatut {
    margin-left : 15px;
    margin-right : 1px;
    white-space: nowrap;
    color: midnightblue;
}

.demandListMarginTitlesStatutIsNoLink {
    margin-left : 15px;
    margin-right : 1px;
    white-space: nowrap;
}

.demandListMaringTitlesDoublePoints{
    margin-right : 30px;
    color: midnightblue;
}

.demandListMaringTitlesDoublePointsIsNoLink{
    margin-right : 30px;
}

.demandListMaringTitlesDoublePointsIsNoLink{
    margin-right : 30px;
}

.demandListMaringTitlesDoublePointsFirst{
    margin-right: 15px;
    color: midnightblue;
}

.demandListMaringTitlesDoublePointsFirstIsNoLink{
    margin-right: 15px;
}

.demandListMaringTitlesDoublePointsFirstIsNoLink{
    margin-right: 15px;
}

.demandListMaringDoublePointsFirst{
    margin-right: 27px;
    white-space: nowrap;
    color: midnightblue;
}

.demandListMaringStatut {
    margin-left : 11px;
    margin-right : 1px;
    text-decoration: underline;
    white-space: nowrap;
    color: midnightblue;
}

.spaces {
    margin-left: 10px;
    margin-right : 10px;
}


.pad{
    padding: 50px;
}


#editeur,
textarea {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
}



.textareacommunication
{
    font-size : 12px;
    width : 15em;
}

.maxline
{
    max-width:4em;
}

.maxlinebreak{
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.verticalspaces{
    padding-bottom: 150px;
}

.margintop{
    padding-top: 150px;
}

.linkcolorblue{
    color: midnightblue;
}

.fontsize{
    font-size: x-large;
}


.largeur{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.draggableBox {
    position: absolute;
    width: 80px; height: 60px;
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
    background-color: #222;
    color: #CCC;
    cursor: move;

    /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.hideee {
    display:none;
}




/***********************************************************/
/***********************************************************/



.contentplace{
    text-align: center;
}

.contentplacenormal{
    text-align: left;
}

.nextstepbutton{
    text-align: center;
}

.updatebuttonplace{
    text-align: right;
}

/*.curs{*/
/*    cursor: pointer;*/
/*}*/


.linkcolor{
    cursor: pointer;
    /*color: #000;*/
    color: midnightblue;
    text-decoration: none;
}


.marginmovepreviousbutton{
    margin-left: 1em;
}

.marginmovepreviousbuttondis{
    margin-left: 2em;
}

.marginmovenextbutton{
    margin-left: 4em;
}

.marginmovenextbuttondis{
    margin-left: 9.3em;
}

.createbutton{
    float: left;
}

.returnbutton{
    float: left;
}

.centeropen{
    position: center;
}

.rightposition{
    float: right;
}

.connexionbutton{
    float: right;
}

.centrageright {
    /*horiz-align: right;*/
    /*position: a;*/
    right: 10em;
}

.big{
.enable-tinymce;
}


.tableTitleFormat{
    font-size: xx-large;
    border: 2px solid;
    background-color: lightgrey;
    padding-right: 10px;
    font-weight: bold;
}


.product-comparison{
    font-size: x-large;

}

.tableLinesFormat{
    font-weight: bold;
    padding: 5px 15px 5px 5px;
    /*white-space:nowrap;*/
    /*float: right;*/
    border: 2px solid;
}

.tableLinesSpaces{
    padding-right: 10px;
}

.noJump{
    white-space:nowrap;
}


/*padding-right: 30px;*/


a {
    text-decoration: none !important;
    display: inline-block;
    padding: 8px 16px;
}


/*span {*/
/*    text-decoration: none !important;*/
/*    display: inline-block;*/
/*    padding: 8px 16px;*/
/*}*/

a:hover {
    background-color: #ddd;
    color: black !important;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

input.form-control { border: 3px solid #000;}


.uppy-Dashboard-inner{
    width: 50%;
    margin: 0 auto;
}

.verticalspaces{
    padding-bottom: 300px;
}

.verticalspaceshalfsize{
    padding-bottom: 150px;
}

.fewverticalspaces{
    padding-bottom: 50px;
}


.oneverticalspace{
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}


video {
    max-width: 100%;
    height: auto;
}

.navbar-brand {
    text-align: center;
}


code {
    padding: 40px;
    display:block;
    /*background-color: #EFEFEF;*/
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /*border: 3px solid #cccccc;*/
    padding: 5px;
    font-family: Tahoma, sans-serif;
    /*background-image: url(bg.gif);*/
    background-position: bottom right;
    background-repeat: no-repeat;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    /*border-left: 3px solid #f2334c;*/
    /*color: #125;*/
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.sf-toolbar a, .sf-toolbar span {
    padding: 0;
}


.user-details {
    margin-top: 20px;
}

.user-conditions {
    /*font-style: italic;*/
    color: black;
    text-align: justify;
    font-weight: bold;
}

.user-name {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.evidenced {
    font-weight: bold;
}


.top-bottom-margin {
    margin-bottom: 20em;
    margin-top: 5em;
}

.bottom-margin {
    margin-bottom: 20em;
}

.bottom-margin-cal {
    margin-bottom: 1em;
}

.bottom-margin-cal2 {
    margin-bottom: 3em;
}

.bottom-half-margin-cal {
    margin-bottom: 0.5em;
}

.top-margin-cal {
    margin-top: 1em;
}

.top-margin-cal2 {
    margin-top: 2em;
}


.top-margin-accounting {
    margin-top: 3em;
}

.top-margin-accounting-before-user-name {
    margin-top: 4em;
}

.empty-information {
    font-style: italic;
}

.user-data {
    color: darkblue;
    font-weight: bold;
}

.line-break {
    display: block;
}

.one-line-space {
    line-height: 2em;
}

.opened-lock-color {
    color: #2b542c;
}

.sublease-badge {
    display: inline-block;
    padding: .25em .4em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;

    color: black;
    font-size: small;
    /*background-color: #2b542c;*/
    background-color: seagreen;
}

.possible-places {
    color:seagreen;
}


.btn-lightgray {
    background: lightgrey;
}

.calendar-info {
    font-size: x-large;
}

.calendar-fa-symbol {
    font-size: xx-large;
}

.calendar-unsubscribed {
    font-size: small;
}

.calendar-subleased-badge {
    background-color: #f8f9fa;
    font-size: medium;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.badge-info-calendar {
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #17a2b8;
    font-size: x-large;
}


.calendar-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: medium;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}


.calendar-badge-available-places {
    display: inline-block;
    padding: .25em .4em;
    font-size: large;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: aliceblue;
    background-color: #2f3d4a;
    border-color: #2f3d4a;
}

.calendar-badge-available-places-loggedout {
    display: inline-block;
    padding: .25em .4em;
    font-size: large;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
}

.calendar-badge-nomore-available-places {
    display: inline-block;
    padding: .25em .4em;
    font-size: large;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #212529;
    background-color: #ffc107;
}

.admin-calendar-badge-available-places {
    display: inline-block;
    padding: .25em .4em;
    font-size: medium;
    color:black;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.calendar-proposed-places {
    display: inline-block;
    padding: .25em .4em;
    font-size: large;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
}

.parent {
    text-align:center;
    display: block;
    width: 100%;
    /*border: 1px solid red;*/
}

.child {
    width:auto;
    display: inline-block;
    text-align:left;
    /*border: 1px solid green;*/
}

.element {
    display: block;
}

.accountingWidth {
    padding-right:70px
}

.paymentOptionsWidth {
    padding-right:130px
}

.word {
    word-wrap: break-word;
}

.readMessage{
    color: lightgray;
}

.bckImage{
    /*background-image: url("http://stairport.co.uk/wp-content/uploads/2017/11/Lapland.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*max-width:100%;*/
    /*height:auto;*/
    /*background-color: ghostwhite;*/

}

.sublease-pill-badge{
    /*color: aliceblue;*/
    /*background-color: seagreen;*/
    /*border-color: seagreen;*/
    /*font-family: "Roboto", sans-serif;*/

    /*color: aliceblue;*/
    /*background-color: #232a37;*/
    /*border-color: #2f3d4a;*/

    color: aliceblue;
    background-color: #2f3d4a;
    border-color: #2f3d4a;

    /*color: aliceblue;*/
    /*background-color: #54667a;*/
    /*border-color: #54667a;*/
}

.sublease-pill-badge-expired{
    color: aliceblue;
    background-color: grey;
    border-color: grey;
}

.sublease-pill-badge-taken{
    color: aliceblue;
    background-color: darkred;
    border-color: darkred;
}

.sublease-pill-badge-expired-taken{
    color: aliceblue;
    background-color: lightpink;
    border-color: lightpink;
}


.medium-font{
    font-size: medium;
}

.small-font{
    font-size: small;
}

.large-font{
    font-size: large;
}

.x-large-font{
    font-size: x-large;
}

.xx-large-font{
    font-size: xx-large;
}

.white{
    color: white;
}

.black{
    color: black;
}

.darkgreen{
    color: darkgreen;
}

.midnightblue{
    color: midnightblue;
}

.black{
    color:black;
}

.darkred{
    color: darkred;
}

.darkgrey{
    color: darkgrey;
}

.red-color{
    color:red;
}

.green-color{
    color:seagreen;
}


.month-backgroundcolor{
    background-color: #212529;
}

.month-color{
    background-color: lightgrey;
}

.message-color{
    color: #2a3035;
}

.accounting-table{
    background-color: ghostwhite;
    border:3px solid black;
}

.table-size{
    width: 15%;
}

.essai {
    text-indent: 5em;
}