{% extends 'Format.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="centrage evidenced bottom-margin-cal top-margin-cal">
            <span class="fas fa-list"></span> Textes utilisés
        </h1>

        {{ form_start(formular) }}
        <div class="container contentplace">
            <div class="row oneverticalspace">
                <div class="col-12">{{ form_row(formular.textResearchContent) }}</div>
            </div>
            <div>
                <button type="submit" class="btn waves-effect waves-light btn-dark" style="font-size: xx-large">
                    <span class="evidenced">Rechercher</span>
                </button>
            </div>
        </div>
        {{ form_widget(formular) }}
        {{ form_end(formular) }}
        <br>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-danger" style="font-size: xx-large">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <a class="btn btn-dark fa fa-plus-circle xx-large-font bottom-margin-cal" href="{{ path('text_create') }}"> Ajouter</a>

    <ul>
        {% for text in texts_list %}
            <div id="{{ text.id }}">
                {#                <div>{{ text.content }}</div>#}
                <label>
                    <textarea style="opacity: 0;position:absolute; z-index: -999;top: -999;" class="cp-text">{{ text.content }}</textarea>
                </label>
                <div class="copyButton btn-light x-large-font">{{ text.content | nl2br }}</div>

                <span data-toggle="tooltip" data-html="true" title="Traiter">
                    <a class="btn btn-dark large-font fas fa-pencil-alt" href="{{ path('text_process',
                        {'textId': text.id}) }}">
                    </a>
                </span>

                <span data-toggle="tooltip" data-html="true" title="Écarter">
                    <a class="btn btn-dark large-font fas fa-trash" href="{{ path('put_into_discarded_texts',
                        {'textId': text.id}) }}">
                    </a>
                </span>

                <p class="line-break bottom-margin-cal2"></p>
            </div>
        {% endfor %}
    </ul>
    <div class="bottom-margin"></div>
    <script type="text/javascript">
        var buttons = document.getElementsByClassName("copyButton");

        for(var i = 0; i < buttons.length; i++) {
            console.log(buttons[i])
            buttons[i].addEventListener("click", function(event){
                var copyText = event.target.parentNode.getElementsByClassName('cp-text')[0];
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/
                /* Copy the text inside the text field */
                document.execCommand("copy");
                /* Alert the copied text */
                // alert("Copied the text: " + copyText.value);
                alert('Texte dans le presse papier ! Ctrl + v pour coller')

            });
        }
    </script>


{% endblock %}

