{% extends 'Format.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <p>
        <a href="{{ texts_list_page }}">
            <button type="button" class="btn waves-effect waves-light btn-dark x-large-font evidenced">
                Retour à Textes utilisés
            </button>
        </a>
    </p>

    <div class="example-wrapper">
        <h1 class="centrage evidenced bottom-margin-cal top-margin-cal">Textes contenant
            <span class="darkred evidenced">{{ research_content }}</span>
        </h1>
        <br>
    </div>

    <ul>
        {% for text in texts_list %}
            <div id="{{ text.id }}">
                {#                <div>{{ text.content }}</div>#}
                <label>
                    <textarea style="opacity: 0;position:absolute; z-index: -999;top: -999;" class="cp-text">{{ text.content }}</textarea>
                </label>
                <div class="copyButton btn-light x-large-font">{{ text.content | nl2br }}</div>


                <span data-toggle="tooltip" data-html="true" title="Traiter">
                    <a class="btn btn-dark large-font fas fa-pencil-alt" href="{{ path('text_process',
                        {'textId': text.id}) }}">
                    </a>
                </span>

                <span data-toggle="tooltip" data-html="true" title="Écarter">
                    <a class="btn btn-dark large-font fas fa-trash" href="{{ path('put_into_discarded_texts',
                        {'textId': text.id}) }}">
                    </a>
                </span>

                <p class="line-break bottom-margin-cal2"></p>

            </div>
        {% endfor %}
    </ul>
    <div class="bottom-margin"></div>
    <script type="text/javascript">
        var buttons = document.getElementsByClassName("copyButton");

        for(var i = 0; i < buttons.length; i++) {
            console.log(buttons[i])
            buttons[i].addEventListener("click", function(event){
                var copyText = event.target.parentNode.getElementsByClassName('cp-text')[0];
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/
                /* Copy the text inside the text field */
                document.execCommand("copy");
                /* Alert the copied text */
                // alert("Copied the text: " + copyText.value);
                alert('Texte dans le presse papier ! Ctrl + v pour coller')

            });
        }
    </script>


{% endblock %}
