{% extends 'Format.twig' %}

{% block body %}

    <h2 class="top-margin-cal bottom-margin-cal">
        <span class="evidenced">Modification du prix d'emprunt</span>
    </h2>

    <div class="line-break large-font">Actuel prix du prêt/emprunt :
        <span class="evidenced">{{ current_price }}.-- CHF</span>
    </div>

    <p class="line-break"></p>
    {#    <a class="btn waves-effect waves-light btn-dark x-large-font" href="{{ path('set_site_options') }}">Modifier</a>#}

    <a href="{{ path('set_site_options') }}">
        <button type="button" class="btn waves-effect waves-light btn-dark x-large-font">
            <span class="evidenced">Modifier</span>
        </button>
    </a>

    {#    <a type="button" class="btn btn-dark x-large-font" href="{{ path('set_site_options') }}">Modifier</a>#}




{% endblock %}
