{% extends 'Format.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>
    <div class="example-wrapper">
        <h1 class="bottom-margin-cal evidenced top-margin-cal">Messages reçus :</h1>
        <span class="line-break"><i>État au {{ "now"|date('d-m-Y') }} à
                {{ "now"|date('H', 'Europe/Paris') }}h{{ "now"|date('i', 'Europe/Paris') }}
                et {{ "now"|date('s', 'Europe/Paris') }} secondes</i>
            </span>
        <br>

        {% if ReceivedMessagesList is not empty %}
            {% for message in ReceivedMessagesList %}
                {% if message.receiptAcknowledgement %}
                    {% set read = 'readMessage' %}
                    {% set btnColor = 'secondary' %}
                {% else %}
                    {% set read = '' %}
                    {% set btnColor = 'dark' %}
                {% endif %}
                <span class="{{ read }}">
            <span class="line-break evidenced top-margin-cal">Date d'envoi :
                {{ message.creationDate|date('d-m-Y à H:i:s', 'Europe/Paris') }}
            </span>
                {% if message.readingDate is not null %}
                    <span class="line-break evidenced">Date de lecture :
                        {{ message.readingDate|date('d-m-Y à H:i:s', 'Europe/Paris') }}
                    </span>
                {% endif %}
            <span class="line-break evidenced">Expéditeur : {{ message.transmitter }}</span>
                <span class="line-break evidenced">Destinataire : {{ message.receiver }}</span>
            <a class="btn waves-effect waves-light btn-{{ btnColor }} top-margin-cal" href="{{ path('message_open',
                {'messageId': message.id}) }}">Ouvrir
            </a>
                {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="btn waves-effect waves-light btn-danger top-margin-cal" href="{{ path('message_remove',
                        {'messageId': message.id}) }}">Supprimer définitivement
                    </a>
                {% endif %}
            <span class="line-break">&nbsp</span>
            </span>
            {% endfor %}
        {% else %}
            <span class="empty-information">Aucun message</span>
        {% endif %}
    </div>
    <div class="bottom-margin"></div>
{% endblock %}
