{% extends 'Format.twig' %}

{% block body %}
    <a class="line-break x-large-font" href="{{ path('accounting', { category: 'isNotPaid', userId: app.user.user.id }) }}">
        <button type="button" class="fas fa-funnel-dollar"> À encaisser</button>
    </a>
    <a class="line-break x-large-font" href="{{ path('accounting', { category: 'isPaid', userId: app.user.user.id }) }}">
        <button type="button" class="fas fa-handshake"> Soldés</button>
    </a>
    <a class="line-break x-large-font" href="{{ path('accounting', { category: 'all', userId: app.user.user.id }) }}">
        <button type="button" class="fas fa-list"> Tous</button>
    </a>

    <div class="contentplace" xmlns="http://www.w3.org/1999/html">
        <h1 class="centrage bottom-margin-cal evidenced"></h1>
        <h2 class="month-color black">
            <span class="evidenced">{{ (subleases|first).taker }}</span>
            <span class="">
                    {{ concerned_month_date|date()|localizeddate('none', 'none', null, null, 'MMMM Y')|capitalize }}
                </span>
        </h2>
        <div class="table">
            <table class="table table accounting-table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Prêts</th>
                    <th scope="col">Encaissé</th>
                    <th scope="col">Comptabilisation</th>
                </tr>
                </thead>
                <tbody>
                {% for Sublease in subleases %}
                    <tr>
                        <td></td>
                        <td>{{ Sublease.getDayDate|date('d/m/Y') }}</td>
                        {% if Sublease.isPaid or Sublease.price == 0.0 %}
                            <td><span class="fa fa-check-circle darkgreen"></span></td>
                        {% else %}
                            <td><span class="fa fa-times-circle darkred"></span></td>
                        {% endif %}
                        <td>
                            {% if Sublease.isPaid %}
                                {#if user is disabled he must not be apple to set a sublease as unpaid#}
                                <span>{{ Sublease.price }}.-- CHF</span>
                                {% if app.user.user.isUserEnabled %}
                                    <span data-toggle="tooltip" data-html="true"
                                          title="Marquer comme non payé">
                                    <a class="btn fas fa-cash-register black"
                                       href="{{ path('parking_sublease_mark_as_paid_unpaid',
                                           { parkingSubleaseId:Sublease.id }) }}">
                                    </a>
                                    </span>
                                {% endif %}
                            {% else %}
                                <span>{{ Sublease.price }}.-- CHF</span>
                                {% if Sublease.price > 0.0 %}
                                    <span data-toggle="tooltip" data-html="true"
                                          title="Marquer comme payé">
                                        <a class="btn fas fa-cash-register black"
                                           href="{{ path('parking_sublease_mark_as_paid_unpaid',
                                               { parkingSubleaseId:Sublease.id }) }}">
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="btn disabled fas fa-cash-register"></span>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="evidenced">Somme encaissée : </td>
                    <td><span class="evidenced">{{ isPaidSum }}.-- CHF</span></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="evidenced">Solde dû :</td>
                    {% if isNotPaidSum != 0 %}
                        <td><span class="badge badge badge-success large-font">{{ isNotPaidSum }}.-- CHF</span></td>
                    {% else %}
                        <td><span class="badge badge badge-secondary large-font">{{ isNotPaidSum }}.-- CHF</span></td>
                    {% endif %}
                    <td></td>
                    <td>
                        {% if isNotPaidSum != 0 %}
                            <a href="{{ path('money_acknowledge',
                                {'contractorId': Contractor.id, 'month': month}) }}">
                                <button type="button" class="btn waves-effect waves-light btn-success large-font">
                                    <span data-toggle="tooltip" data-html="true"
                                          title="Accuser réception de la somme totale de {{ TotalDueAmountForReceipt }}.-- CHF"
                                          class="evidenced">Solder mois entier
                                    </span>
                                </button>
                            </a>
                        {% else %}
                            <span class="bade badge badge-secondary x-large-font">Mois entier soldé</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom-margin"></div>
{% endblock %}
