{% extends 'Format.twig' %}

{% block body %}
    <p>
        <a href="{{ path('text_process', {textId: text.id}) }}">
            <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font">
                <span class="evidenced">Annuler</span>
            </button>
        </a>
    </p>

    <div class="example-wrapper">
        <h1 class="centrage evidenced bottom-margin-cal top-margin-cal">
            <span class="fas fa-pencil-alt"></span>
            Modification d'un texte
        </h1>
    </div>

    {{ form_start(formular) }}

    <div class="centrage evidenced x-large-font">
        <div class="form-group">
            {{ form_row(formular.content) }}
        </div>
        <button type="submit" class="btn waves-effect waves-light btn-dark x-large-font">
            Enregistrer
        </button>
    </div>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}

    <div class="verticalspaces"></div>

{% endblock %}
