{% extends 'Format.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <p>
        <a href="{{ texts_list_page }}">
            <button type="button" class="btn waves-effect waves-light btn-dark x-large-font evidenced">
                Retour à Textes utilisés
            </button>
        </a>
    </p>

    <div class="example-wrapper">
        <h1 class="centrage evidenced bottom-margin-cal top-margin-cal">
            <span class="fas fa-pencil-alt"></span>
            Traitement d'un texte

        </h1>

        <span class="line-break">{{ text.content | nl2br }}</span>

    </div>
    <div class="centrage evidenced x-large-font">
        <a class="btn btn-dark x-large-font" href="{{ path('text_update',
            {'textId': text.id}) }}">Modifier
        </a>
    </div>

{% endblock %}
