{% extends 'Format.twig' %}

{% block body %}

    <p class="top-margin-cal"></p>
    <p>
        <a href="{{ referer }}">
            <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                Annuler
            </button>
        </a>
    </p>

    <h3 class="centrage">
        <span class="evidenced">Ajout d'un texte</span>
    </h3>

    {{ form_start(formular) }}

    <div class="centrage evidenced x-large-font">
        <div class="form-group">
            {{ form_row(formular.content) }}
        </div>
        <button type="submit" class="btn waves-effect waves-light btn-dark x-large-font">
            Enregistrer
        </button>
    </div>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}

    <div class="verticalspaces"></div>

{% endblock %}
