{% extends 'Format.twig' %}

{#{% block title %}{% endblock %}#}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="bottom-margin-cal evidenced top-margin-cal">Choisir le destinataire du message : </h1>

        <span class="badge badge-info large-font">Administrateur :</span>
        <ul>
            {% if Administrator is not empty %}
                <li>
                    <a class="linkcolor"
                       href="{{ path('message_create', {'receiverId': Administrator|first.id}) }}">{{ Administrator|first }}
                    </a>
                </li>
            {% endif %}
        </ul>

        <span class="badge badge-info large-font">Prêteurs :</span>
        <ul>
            {% for renter in Renters %}
                {% if Renters is not empty %}
                    <li>
                        <a class="linkcolor" href="{{ path('message_create', {'receiverId': renter.id}) }}">{{ renter }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <span class="badge badge-info large-font">Emprunteurs :</span>
        <ul class="bottom-margin">
            {% for tenant in Tenants %}
                {% if Tenants is not empty %}
                    <li>
                        <a class="linkcolor" href="{{ path('message_create', {'receiverId': tenant.id}) }}">{{ tenant }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
