{% extends 'Format.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="centrage evidenced bottom-margin-cal top-margin-cal">
            <span class="fas fa-trash"></span> Textes écartés
        </h1>
    </div>

    <ul>
        {% for text in texts_list %}
            <div>
                <span class="line-break x-large-font">{{ text.content | nl2br }}</span>

                <span data-toggle="tooltip" data-html="true" title="Récupérer">
                        <a class="btn btn-dark large-font fas fa-undo" href="{{ path('put_into_discarded_texts',
                            {'textId': text.id}) }}">
                        </a>
                    </span>

                <span data-toggle="tooltip" data-html="true" title="Supprimer définitivement">
                        <a class="btn btn-dark large-font fas fa-trash" href="{{ path('remove_text',
                            {'textId': text.id}) }}">
                        </a>
                    </span>


                <p class="line-break bottom-margin-cal2"></p>
            </div>
        {% endfor %}
    </ul>
    <div class="bottom-margin"></div>
{% endblock %}
