{% extends 'Format.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="evidenced top-margin-cal2 bottom-margin-cal">Conditions d'utilisation</h1>

        {% if not is_granted('ROLE_ADMINISTRATOR') %}
            <div class="user-conditions">
                En utilisant ce logiciel, j'accepte que des informations me concernant
                (prénom, initiales, numéro de parking, détails des transactions d'emprunts/prêts,
                date et heure des pages consultées, messages envoyés/reçus, numéro de téléphone facultatif,
                adresse de courriel facultative) soient enregistrées sur un serveur informatique et
                qu'elles soient visibles par les utilisateurs ou l'administrateur.
            </div>
        {% endif %}

    </div>
{% endblock %}
