{% extends 'Format.twig' %}

{% block body %}

    {% if is_referer_calendar %}
        <p>
            <a href="{{ referer }}">
                <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font">
                    Retour
                </button>
            </a>
        </p>
    {% else %}
        <span class="fewverticalspaces"></span>
    {% endif %}
    <div class="contentplace">
        <h2 class="mb-4 evidenced top-margin-cal">Tous les prêts</h2>
        <ul class="list-group">
            {% for sublease in subleases_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% if sublease.isTaken %}
                        <span class="is-taken-container">
                            <span class="badge badge-success badge-pill">
                                {{ sublease.dayDate|date('d-m-Y') }}
                            </span>
                            <span class="sublease-user text-primary">
                                <strong>{{ sublease.user.firstName }}
                                    {{ sublease.user.lastName }}</strong>
                            </span>
                            prête son parking à
                            <span class="sublease-taker text-primary">
                                <strong>{{ sublease.taker.firstName }}
                                    {{ sublease.taker.lastName }}</strong>
                            </span>
                        </span>
                    {% else %}
                        <span class="available-container text-secondary">
                            <span class="badge badge-secondary badge-pill">
                                {{ sublease.dayDate|date('d-m-Y') }}
                            </span>
                            <span class="sublease-user">
                                <strong>{{ sublease.user.firstName }}
                                    {{ sublease.user.lastName }}</strong>
                            </span>
                            propose de prêter son parking
                        </span>
                    {% endif %}
                    <span class="badge badge-primary badge-pill">
                        Parking
                        {{ sublease.subleaseParkingNumber }}
                        {#                        {{ sublease.dayDate > 'now'|date#}
                        {#                        ? sublease.getRenterParkingNumber()#}
                        {#                        : sublease.subleaseParkingNumber()#}
                        {#                        }}#}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="bottom-margin"></div>
{% endblock %}

