{% extends 'Format.twig' %}

{#{% form_theme formular 'bootstrap_4_layout.html.twig' %}#}

{% block body %}

    <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3 top-margin-cal">
        <h1 class="badge badge-dark bottom-margin-cal xx-large-font">
            {{ ChosenYearMonth|date()|localizeddate('none', 'none', null, null, 'MMMM Y')|capitalize }}
        </h1>
        {#        {{ ChosenYearMonth|date()|localizeddate('none', 'none', null, null, 'MMMM Y')|capitalize }}#}

        <div>
            <a class="fas fa-fast-backward xx-large-font black" href="{{ path('calendar',
                {intYear:calendar.previousMonth.year, intMonth:calendar.previousMonth.month}) }}" role="button">
            </a>
            <a class="fas fa-fast-forward xx-large-font black" href="{{ path('calendar',
                {intYear:calendar.nextMonth.year, intMonth:calendar.nextMonth.month}) }}" role="button">
            </a>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
        {% if app.user.user is defined %}
            {% if (is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_TENANT')) %}
                {% if (current_working_year_int == SelectedYearInt or current_working_year_plus_one_year_int == SelectedYearInt)
                    and (current_working_month_int == SelectedMonthInt or current_working_month_plus_one_month_int == SelectedMonthInt
                    or current_working_month_plus_two_month_int == SelectedMonthInt) %}
                    {% if not app.user.user.isUserEnabled %}
                        <span class="badge-info-calendar">Compte utilisateur désactivé</span>
                    {% elseif app.user.user.isUserEnabled and app.user.user.isUserBlockedForInsolvency %}
                        <span class="badge-info-calendar xx-large-font">
                            Bloqué pour insolvabilité
                        </span>
                    {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                        {% if CurrentMonthTotalOpenToSublease > 0 %}
                            {% if CurrentMonthTotalOpenToSublease > 1 %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">{{ CurrentMonthTotalOpenToSublease }}
                                    prêts proposés
                                </span>
                            {% else %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">
                                    Un prêt proposé
                                </span>
                            {% endif %}
                        {% else %}
                            <span class="badge sublease-pill-badge evidenced x-large-font">
                                Aucun prêt proposé pour le moment
                            </span>
                        {% endif %}
                    {% elseif is_granted('ROLE_TENANT') and not is_granted('ROLE_ADMINISTRATOR') %}
                        {% if CurrentMonthTotalOpenToSubleaseForTenant > 0 %}
                            {% if CurrentMonthTotalOpenToSubleaseForTenant > 1 %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">
                                        {{ CurrentMonthTotalOpenToSubleaseForTenant }}
                                    nouveaux emprunts possibles
                                </span>
                            {% else %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">
                                    Un nouvel emprunt possible
                                </span>
                            {% endif %}
                        {% else %}
                            <span class="badge sublease-pill-badge evidenced x-large-font">
                                Aucun nouvel emprunt possible pour le moment
                            </span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% elseif (is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_RENTER')) %}
                {% if (current_working_year_int == SelectedYearInt or current_working_year_plus_one_year_int == SelectedYearInt)
                    and (current_working_month_int == SelectedMonthInt or current_working_month_plus_one_month_int == SelectedMonthInt
                    or current_working_month_plus_two_month_int == SelectedMonthInt) %}

                    {% if not app.user.user.isUserEnabled %}
                        <span class="badge-info-calendar">
                            Compte utilisateur désactivé
                        </span>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}

            {% if (current_working_year_int == SelectedYearInt or current_working_year_plus_one_year_int == SelectedYearInt)
                and (current_working_month_int == SelectedMonthInt or current_working_month_plus_one_month_int == SelectedMonthInt
                or current_working_month_plus_two_month_int == SelectedMonthInt) %}

                {% if CurrentMonthTotalOpenToSublease > 0 %}
                    {% if CurrentMonthTotalOpenToSublease > 1 %}
                        <span class="badge sublease-pill-badge evidenced x-large-font">{{ CurrentMonthTotalOpenToSublease }}
                            prêts proposés
                        </span>
                    {% else %}
                        <span class="badge sublease-pill-badge evidenced x-large-font">
                            Un prêt proposé
                        </span>
                    {% endif %}
                {% else %}
                    <span class="badge sublease-pill-badge evidenced x-large-font">
                        Aucun prêt proposé pour le moment
                    </span>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <p class="bottom-margin-cal"></p>
    {% if app.user.user is defined %}
        {% if is_granted('ROLE_RENTER') and not is_granted('ROLE_ADMINISTRATOR') %}
            {% include 'RenterCalendar.twig' with
                { 'TodayPlusTwoMonths' : TodayPlusTwoMonths, 'price' : price,
                    'renter_taken_subleases_in_current_month' : renter_taken_subleases_in_current_month,
                    'renter_open_subleases_in_current_month' : renter_open_subleases_in_current_month,
                    'all_month_day_dates' : all_month_day_dates } only %}
        {% elseif is_granted('ROLE_TENANT') and not is_granted('ROLE_ADMINISTRATOR') %}
            {% include 'TenantCalendar.twig' with
                { 'IsExistingTakenSubleaseByDayDateAndByTakerList' : IsExistingTakenSubleaseByDayDateAndByTakerList,
                    'tenant_possible_subleases_dates_tab' : tenant_possible_subleases_dates_tab,
                    'all_month_day_dates' : all_month_day_dates } only %}
        {% elseif is_granted('ROLE_ADMINISTRATOR') %}
            {% include 'AdministratorCalendar.twig' with
                { 'OpenToSubleaseList' : OpenToSubleaseList, 'TakenOrOpenedSubleaseList' : TakenOrOpenedSubleaseList,
                    'TakenDayDatesOfCurrentMonth' : TakenDayDatesOfCurrentMonth, 'all_month_day_dates' : all_month_day_dates } only %}
        {% endif %}
    {% else %}
        {% include 'LoggedOutCalendar.twig' with
            {'OpenToSubleaseList' : OpenToSubleaseList, 'all_month_day_dates' : all_month_day_dates } only %}
    {% endif %}
{% endblock %}

