<!DOCTYPE html>
<html lang="">
<head>

    <meta charset="UTF-8">
    <meta name="robots" content="noindex, NOFOLLOW, NOARCHIVE, NOODP">
    <meta name="googlebot" content="noindex, NOFOLLOW, NOARCHIVE, NOODP">

    <link rel=icon href={{ asset('car-side-solid.png') }} sizes="16x16" type="image/png">

    <title>{% block title %}Mon Parking{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ asset('CSS/Calendar.css') }}">

    <link href="{{ asset('static/fa/css/all.css') }}" rel="stylesheet"> <!--load all styles -->

    <link href="{{ asset('static/fa/css/fontawesome.css') }}" rel="stylesheet"> <!--load all styles -->

    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    {% endblock %}

</head>

<body class="bckImage">

<div class="">
    {{ render(controller(
        'App\\Controller\\NavBarCounterController::layout'
    )) }}
</div>

<div class="container-fluid container-limited">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('featherIcons/feather.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

</body>

</html>




