
{% block body %}

    {% if all_month_day_dates is defined %}
        <table>
            <thead>
            <tr>
                <th class="table-size"><span class="evidenced x-large-font">Lundi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mardi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mercredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Jeudi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Vendredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Samedi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Dimanche</span></th>
            </tr>
            </thead>
            <tbody>

            {# sauter des cases jusqu'au début du mois #}
            {# Afficher les jours donnés par le controller ligne par ligne #}
{#            {{ dump(all_month_day_dates) }}#}
            {% for date in all_month_day_dates %}
                {% if date|date('N') == 1 or loop.first %}
                    <tr>
                {% endif %}
                {% if loop.first and date|date('N') > 1 %}
                    {% for d in 1..(date|date('N') - 1) %}
                        <td></td>
                    {% endfor %}
                {% endif %}
                <td>
                    <div class="calendar__table">
                        <div>
                            <span class="evidenced">{{ date|date('j') }}</span>
                            {% if date|date('N') == 1 or loop.first %}
                                <span class="evidenced">(Sem {{ date|date('W') }})</span>
                            {% endif %}
                            {% set dayFormat = date|date('Y-m-d') %}
{#                            {% if date >= Today %}#}
                            {% if date|date('Y-m-d') >= "now"|date('Y-m-d', 'Europe/Paris') %}
                                {% if OpenToSubleaseList[dayFormat] is defined and OpenToSubleaseList[dayFormat] < 2 %}
                                    <div class="centrage">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn sublease-pill-badge"
                                                data-toggle="modal" data-target="#singlePlaceModal{{ dayFormat }}">
                                            <span class="evidenced x-large-font">{{ OpenToSubleaseList[dayFormat] }}</span>
                                            <span class="fas fa-parking x-large-font"></span>
                                        </button>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="singlePlaceModal{{ dayFormat }}" tabindex="-1"
                                         role="dialog" aria-labelledby="singlePlaceModalLabel{{ dayFormat }}"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="singlePlaceModalLabel{{ dayFormat }}">
                                                        Un parking à emprunter
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="evidenced">
                                                        Date : {{ date|date('d / m / Y') }} &nbsp;(Journée entière)
                                                    </p>
                                                    <p>Se connecter pour emprunter</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Fermer
                                                    </button>
                                                    <a class="btn btn-primary" href="{{ path('login') }}">Connexion</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% elseif OpenToSubleaseList[dayFormat] is defined and OpenToSubleaseList[dayFormat] >= 2 %}
                                    <div class="centrage">
                                        <button type="button" class="btn sublease-pill-badge"
                                                data-toggle="modal" data-target="#pluralPlaceModal{{ dayFormat }}">
                                            <span class="evidenced x-large-font x-large-font">{{ OpenToSubleaseList[dayFormat] }}</span>
                                            <span class="fas fa-parking x-large-font"></span>
                                        </button>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="pluralPlaceModal{{ dayFormat }}" tabindex="-1" role="dialog"
                                         aria-labelledby="pluralPlaceModalLabel{{ dayFormat }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="pluralPlaceModalLabel{{ dayFormat }}">
                                                        {{ OpenToSubleaseList[dayFormat] }} parkings à emprunter
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="evidenced">
                                                        Date : {{ date|date('d / m / Y') }} &nbsp;(Journée entière)
                                                    </p>
                                                    <p>Se connecter pour emprunter un parking</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Fermer
                                                    </button>
                                                    <a class="btn btn-primary" href="{{ path('login') }}">Connexion</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% if date|date('N') == 7 or loop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
