{% extends 'Format.twig' %}

{% block body %}

    {% if Category == 'isNotPaid' %}
        {% if is_granted('ROLE_RENTER') %}
            {% set title = 'À encaisser' %}
        {% elseif is_granted('ROLE_TENANT') %}
            {% set title = 'À payer' %}
        {% endif %}
    {% elseif Category == 'isPaid' %}
        {% set title = 'Soldés' %}
    {% else %}
        {% set title = 'Tous' %}
    {% endif %}


    {% if Category == 'isNotPaid' %}
        {% include 'tenantDueRentalsSummary.twig'
            with {'title' : title, 'related_contractors_list' : related_contractors_list} only %}
    {% elseif Category == 'isPaid' %}
        {% include 'tenantPaidRentalsSummary.twig'
            with {'title' : title, 'related_contractors_list' : related_contractors_list} only %}
    {% else %}
        {% include 'tenantAllRentalsSummary.twig'
            with {'title' : title, 'related_contractors_list' : related_contractors_list} only %}
    {% endif %}

{% endblock %}