
{% block body %}
    {% set large = '15%' %}

    {% if all_month_day_dates is defined %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                <span class="evidenced">{{ message }}</span>
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                <span class="evidenced">{{ message }}</span>
            </div>
        {% endfor %}

        {% for message in app.flashes('subleaseWithdrawn') %}
            <div class="alert alert-primary" role="alert">
                <span class="evidenced">{{ message }}</span>
            </div>
        {% endfor %}

        <table>
            <thead>
            <tr>
                <th class="table-size"><span class="evidenced x-large-font">Lundi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mardi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mercredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Jeudi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Vendredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Samedi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Dimanche</span></th>
            </tr>
            </thead>
            <tbody>

            {# sauter des cases jusqu'au début du mois #}
            {# Afficher les jours donnés par le controller ligne par ligne #}
            {% for date in all_month_day_dates %}
                {% if date|date('N') == 1 or loop.first %}
                    <tr>
                {% endif %}
                {% if loop.first and date|date('N') > 1 %}
                    {% for d in 1..(date|date('N') - 1) %}
                        <td></td>
                    {% endfor %}
                {% endif %}
                <td>
                    <div class="calendar__table">
                        <div>
                            <span class="evidenced">{{ date|date('j') }}</span>
                            {% if date|date('N') == 1 or loop.first %}
                                <span class="evidenced">(Sem {{ date|date('W') }})</span>
                            {% endif %}
                            {% set dayFormat = date|date('Y-m-d') %}
                            {% if app.user.user is defined %}
                                {% set dayFormat = date|date('Y-m-d') %}
                                {% if renter_open_subleases_in_current_month[dayFormat] is defined %}
                                    {% if date|date('Y-m-d') >= "now"|date('Y-m-d', 'Europe/Paris') %}
                                        <div class="centrage">
                                            <span data-toggle="tooltip" data-html="true"
                                                  title="Révoquer la procédure de prêt">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-lightgray"
                                                    data-toggle="modal" data-target="#singlePlaceModal1{{ dayFormat }}">
                                                    <span type="badge badge-info" class="btn btn-large btn-outline-dark">
                                                        <i class="fa fa-lock-open opened-lock-color calendar-fa-symbol">
                                                        </i>
                                                    </span>
                                            </button>
                                            </span>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="singlePlaceModal1{{ dayFormat }}" tabindex="-1"
                                             role="dialog" aria-labelledby="singlePlaceModalLabel1{{ dayFormat }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="singlePlaceModalLabel1{{ dayFormat }}">
                                                            <span class="evidenced">Révocation du prêt</span>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                            <span class="evidenced bottom-margin-cal line-break">
                                                                Date : {{ date|date('d / m / Y') }} &nbsp;(Journée entière)
                                                            </span>
                                                        Retirer mon parking de la procédure de prêt
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Annuler
                                                        </button>
                                                        <a class="btn btn-primary"
                                                           href="{{ path('stopsublease',
                                                               { subleaseId: renter_open_subleases_in_current_month[dayFormat].id }) }}">
                                                            Valider
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="centrage">
                                                <span data-toggle="tooltip" data-html="true"
                                                      title="Prêt proposé mais non souscrit">
{#                                                    <i class="far fa-flag calendar-info"></i>#}
                                                    <span class="evidenced line-break calendar-unsubscribed top-margin-cal">
                                                        <span class="badge badge-info medium-font">
                                                            <span class="line-break evidenced">Prêt</span>
                                                            <span class="evidenced">non souscrit</span>
                                                        </span>
                                                    </span>
                                                </span>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if renter_taken_subleases_in_current_month[dayFormat] is defined %}

                                    <div class="centrage">
                                            <span data-toggle="tooltip" data-html="true" title="Mon parking emprunté">
                                                <span type="badge badge-info" class="badge badge badge-outline-dark">
                                            <span class="calendar-subleased-badge">
                                                <span class="fas fa-lock"></span>
                                                <br>
                                            <span type="badge badge-info" class="badge badge badge-outline-dark">
                                                    <span class="calendar-badge badge-light line-break">
                                                        <span class="badge badge-pill badge-primary">Prêté</span>
                                                        <span class="badge badge-pill badge-dark"></span>
                                                    </span>
                                            </span>
                                            <span class="one-line-space"></span>
                                            <span class="line-break small">
                                                <span class="evidenced">à</span>
                                            </span>
                                            <span class="line-break small">
                                                <span class="evidenced">
                                                    {{ renter_taken_subleases_in_current_month[dayFormat].getTaker }}
                                                </span>
                                            </span>
                                            </span>
                                                </span>
                                            </span>
                                    </div>

                                {% endif %}
                                <br>
                                {% if date|date('Y-m-d') >= "now"|date('Y-m-d', 'Europe/Paris') and date <= TodayPlusTwoMonths

                                    and not renter_open_subleases_in_current_month[dayFormat] is defined
                                    and not renter_taken_subleases_in_current_month[dayFormat] is defined %}


                                    <div class="centrage">
                                        <span data-toggle="tooltip" data-html="true" title="Démarrer la procédure de prêt">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-lightgray" data-toggle="modal"
                                                data-target="#singlePlaceModal{{ dayFormat }}">
                                                <span type="badge badge-info" class="btn btn-large btn-outline-dark">
                                                    <i class="fa fa-car-side calendar-fa-symbol"></i>
                                                </span>
                                        </button>
                                        </span>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="singlePlaceModal{{ dayFormat }}" tabindex="-1"
                                         role="dialog" aria-labelledby="singlePlaceModalLabel{{ dayFormat }}"
                                         aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="singlePlaceModalLabel{{ dayFormat }}">
                                                        <span class="evidenced">Démarrage de la procédure de prêt</span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                        <span class="evidenced line-break bottom-margin-cal">
                                                            Date : {{ date|date('d / m / Y') }} &nbsp;(Journée entière)
                                                        </span>

                                                    Libérer mon parking (prix d'emprunt :

                                                    <span class="evidenced">
                                                            {% if not app.user.user.isFreeRenter %}
                                                                {{ price }}.-- CHF
                                                            {% else %}
                                                                0.-- CHF
                                                            {% endif %}
                                                        </span>
                                                    )
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Annuler</button>
                                                    {% if app.user.user.isUserEnabled %}
                                                        <a class="btn btn-primary"
                                                           href="{{ path('startsublease',
                                                               { dateString: date|date('Y-m-d') }) }}">
                                                            Valider
                                                        </a>
                                                    {% else %}
                                                        <span class="badge-info-calendar">
                                                                Compte utilisateur désactivé
                                                            </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% if date|date('N') == 7 or loop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <span class="verticalspaces"></span>
    {% endif %}
{% endblock %}
