
<!-- Modal -->
<div class="modal fade" id="paymentOptionsModal{{ contractor|first|first.user.id }}"

     tabindex="-1" role="dialog"
     aria-labelledby="paymentOptionsLabel{{ contractor|first|first.user.id }}"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="paymentOptionsModal{{ contractor|first|first.user.id }}">
                    {% if is_granted('ROLE_TENANT') %}
                        <span class="evidenced">Options de paiement proposées par {{ contractor|first|first.user }}</span>
                    {% elseif is_granted('ROLE_RENTER') %}
                        <span class="evidenced">Options de paiement que je propose</span>
                    {% endif %}
                </h5>
            </div>
            <div class="modal-body centrageleft">
                <span class="line-break bottom-margin-cal">
                    <img src="{{ asset('uploads/Money-bag-ceo-feat.jpg') }}"
                         alt="Simply Easy Learning" width="50"
                         height="50"> cash
                    </span>

                {% if contractor|first|first.user.phoneNumber is not empty %}
                    <span class="line-break bottom-margin-cal">
                            <img src="{{ asset('uploads/twint.png') }}"
                                 alt="Simply Easy Learning" width="50"
                                 height="50"> {{ contractor|first|first.user.phoneNumber }}
                            </span>
                {% else %}
                    <span class="line-break bottom-margin-cal">
                            <img src="{{ asset('uploads/twint.png') }}"
                                 alt="Simply Easy Learning" width="50"
                                 height="50"> <span>Non renseigné</span>
                            </span>
                {% endif %}


                {% if contractor|first|first.user.payPalEmail is not empty %}
                    <span class="line-break bottom-margin-cal">
                            <img src="{{ asset('uploads/paypal.png') }}"
                                 alt="Simply Easy Learning" width="100"
                                 height="100"> {{ contractor|first|first.user.payPalEmail }}
                            </span>
                {% else %}
                    <span class="line-break bottom-margin-cal">
                            <img src="{{ asset('uploads/paypal.png') }}"
                                 alt="Simply Easy Learning" width="100"
                                 height="100"> <span>Non renseigné</span>
                            </span>
                {% endif %}


                {% if contractor|first|first.user.revolutPhoneNumber is not empty %}
                    <span class="line-break bottom-margin-cal">
                            <img src="{{ asset('uploads/revo.png') }}"
                                 alt="Simply Easy Learning" width="100"
                                 height="100"> {{ contractor|first|first.user.revolutPhoneNumber }}
                            </span>
                {% else %}
                    <span class="line-break bottom-margin-cal">
                            <img src="{{ asset('uploads/revo.png') }}"
                                 alt="Simply Easy Learning" width="100"
                                 height="100"> <span>Non renseigné</span>
                            </span>
                {% endif %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span class="evidenced">Fermer</span>
                </button>
            </div>
        </div>
    </div>
</div>
