{% block body %}
    <div class="bottom-margin noJump">
        {% if is_granted('ROLE_TENANT') %}
            {% set doneWithMoney = 'payés' %}
        {% elseif is_granted('ROLE_RENTER') %}
            {% set doneWithMoney = 'encaissés' %}
        {% endif %}
        {% if is_granted('ROLE_TENANT') %}
            {% set toBedoneWithMoney = 'payables' %}
        {% elseif is_granted('ROLE_RENTER') %}
            {% set toBedoneWithMoney = 'encaissables' %}
        {% endif %}
        <div class="">
            {% if is_granted('ROLE_RENTER') %}
                <h1 class="bottom-margin-cal evidenced top-margin-cal">{{ title }}
                    <button type="button" class="btn btn-outline-dark small" data-toggle="modal"
                            data-target="#paymentOptionsModal{{ app.user.user.id }}">
                        <span class="evidenced fas fa-info"></span>
                    </button>
                </h1>

                {% include 'RenterRentalsModal.twig' %}

            {% endif %}

            {% if is_granted('ROLE_TENANT') %}
                <h1 class="bottom-margin-cal evidenced top-margin-cal">
                    {{ title }}
                </h1>
            {% endif %}

            <table class="table">
                {% for contractor in related_contractors_list %}
                    <thead>
                    <tr>
                        {% if is_granted('ROLE_TENANT') %}
                            <th scope="col">{{ contractor|first|first.user.firstName }}
                                {{ contractor|first|first.user.lastName }}
                                <button type="button" class="btn btn-outline-dark small" data-toggle="modal"
                                        data-target="#paymentOptionsModal{{ contractor|first|first.user.id }}">
                                    <span class="evidenced fas fa-info"></span>
                                </button>
                            </th>
                            {% include 'TenantRentalsModal.twig' %}
                        {% elseif is_granted('ROLE_RENTER') %}
                            <th scope="col">{{ contractor|first|first.taker.firstName }}
                                {{ contractor|first|first.taker.lastName }}
                            </th>
                        {% endif %}
                        {% for month in contractor %}
                            <th scope="col">{{ month|first.dayDate|date()|localizeddate('none', 'none', null, null, 'MMMM Y')
                                |capitalize }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <th scope="row"></th>
                    {% set PaidMonthTotal = 0 %}
                    {% set unPaidMonthTotal = 0 %}
                    {% set anyUnPaidSublease = null %}
                    {% set anyPaidSublease = null %}
                    {% set anySublease = null %}
                    {% for month in contractor %}
                        <td>
                            {% for sublease in month | reverse %}
                                {% if anySublease is null %}
                                    {% if sublease.price > 0.0 %}
                                        {% set anySublease = sublease %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for sublease in month | reverse %}
                                {% if sublease.getIsPaid or sublease.price == 0 %}
                                    {{ sublease.dayDate|date('d/m/Y') }}
                                    {% if sublease.price > 0.0 %}
                                        <span class="fas fa-check"></span>
                                    {% endif %}
                                    {% if sublease.price == 0.0 and anySublease is not null %}
                                        <span class="">(gratuit)</span>
                                    {% endif %}
                                    {% set PaidMonthTotal = PaidMonthTotal + sublease.price %}
                                    {% if anyPaidSublease is null %}
                                        {% set anyPaidSublease = sublease %}
                                    {% endif %}
                                {% elseif not sublease.getIsPaid and not sublease.price == 0 %}
                                    {{ sublease.dayDate|date('d/m/Y') }} <span class="fas fa-hourglass-end"></span>
                                    {% set unPaidMonthTotal = unPaidMonthTotal + sublease.price %}
                                    {% if anyUnPaidSublease is null %}
                                        {% set anyUnPaidSublease = sublease %}
                                    {% endif %}
                                {% endif %}
                                <span class="line-break"></span>
                            {% endfor %}
                            {% if PaidMonthTotal > 0 %}
                                <span class="line-break">
                                <span class="evidenced">{{ PaidMonthTotal }}.-- CHF</span>
                                    {% if anyPaidSublease.paidAt is not null %}
                                        <span class="small-font">
                                            {{ doneWithMoney }}
                                        </span>
                                    {% endif %}
                                    {% if is_granted('ROLE_RENTER') %}
                                        <span data-toggle="tooltip" data-html="true" title="Comptabiliser">
                                        <a class="btn fas fa-cash-register black" href="{{ path('accounting_month_edit',
                                            {month:anySublease.dayDate|date('Y-m'), contractorId:anySublease.taker.id}) }}">
                                        </a>
                                        </span>
                                    {% endif %}
                                </span>
                            {% endif %}
                            {% if unPaidMonthTotal > 0.0 %}
                                <span class="line-break">
                                    <span class="evidenced">{{ unPaidMonthTotal }}.-- CHF</span>
                                    {% if anyUnPaidSublease.dueDate is not null %}
                                        <span class="small-font">
                                            {{ toBedoneWithMoney }} au {{ anyUnPaidSublease.dueDate|date()
                                            |localizeddate('none', 'none', null, null, 'd MMMM Y') }}
                                        </span>
                                        {% if 'now'|date_modify('first day of this month')
                                        >= anyUnPaidSublease.dueDate|date_modify('first day of this month') %}
                                        <span class="fas fa-exclamation-triangle darkred"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% if is_granted('ROLE_RENTER') %}
                                        <span data-toggle="tooltip" data-html="true" title="Comptabiliser">
                                        <a class="btn fas fa-cash-register black" href="{{ path('accounting_month_edit',
                                            {month:anySublease.dayDate|date('Y-m'),
                                                contractorId:anySublease.taker.id}) }}">
                                        </a>
                                        </span>
                                    {% endif %}
                                </span>
                            {% endif %}
                            {% if anySublease is null %}
                                <span class="evidenced">Gratuit</span>
                            {% endif %}
                        </td>
                        {% set PaidMonthTotal = 0 %}
                        {% set unPaidMonthTotal = 0 %}
                        {% set anyUnPaidSublease = null %}
                        {% set anyPaidSublease = null %}
                        {% set anySublease = null %}
                    {% endfor %}
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
