
{% block body %}
    {% if all_month_day_dates is defined %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                <span class="evidenced">{{ message }}</span>
            </div>
        {% endfor %}

        <table>
            <thead>
            <tr>
                <th class="table-size"><span class="evidenced x-large-font">Lundi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mardi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Mercredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Jeudi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Vendredi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Samedi</span></th>
                <th class="table-size"><span class="evidenced x-large-font">Dimanche</span></th>
            </tr>
            </thead>
            <tbody>
            {# sauter des cases jusqu'au début du mois #}
            {# Afficher les jours donnés par le controller ligne par ligne #}

            {% for date in all_month_day_dates %}
                {% if date|date('N') == 1 or loop.first %}
                    <tr>
                {% endif %}
                {% if loop.first and date|date('N') > 1 %}
                    {% for d in 1..(date|date('N') - 1) %}
                        <td></td>
                    {% endfor %}
                {% endif %}
                <td>
                    <div class="calendar__table">
                        <div>
                            <span class="evidenced">{{ date|date('j') }}</span>
                            {% if date|date('N') == 1 or loop.first %}
                                <span class="evidenced">(Sem {{ date|date('W') }})</span>
                            {% endif %}
                            {% set dayFormat = date|date('Y-m-d') %}

                            {% if tenant_possible_subleases_dates_tab[dayFormat] is defined %}
                                {% if date|date('Y-m-d') >= "now"|date('Y-m-d', 'Europe/Paris') %}
                                    {% if IsExistingTakenSubleaseByDayDateAndByTakerList[dayFormat] is not defined %}
                                        <div class="centrage">
                                            <button type="button" class="btn sublease-pill-badge medium-font"
                                                    data-toggle="modal" data-target="#singlePlaceModal1{{ dayFormat }}">
                                                    <span class="fas fa-handshake medium-font">
                                                        <span class="line-break">
                                                            Emprunter
                                                        </span>
                                                    </span>
                                            </button>
                                        </div>

                                        <div class="modal fade" id="singlePlaceModal1{{ dayFormat }}" tabindex="-1"
                                             role="dialog" aria-labelledby="singlePlaceModalLabel1{{ dayFormat }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="singlePlaceModalLabel1{{ dayFormat }}">
                                                            <span class="evidenced">Emprunt</span>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                            <span class="evidenced line-break bottom-margin-cal">
                                                                Date : {{ date|date('d / m / Y') }} &nbsp;(Journée entière)
                                                            </span>
                                                        Valider l'emprunt du parking au prix de
                                                        <span class="evidenced">
                                                                {{ tenant_possible_subleases_dates_tab[dayFormat].price }}.-- CHF
                                                            </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Annuler
                                                        </button>
                                                        {% if app.user.user.isUserEnabled and not app.user.user.isUserBlockedForInsolvency %}
                                                            <a class="btn btn-primary"
                                                               href="{{ path('day_take',
                                                                   { parkingId: tenant_possible_subleases_dates_tab[dayFormat].id }) }}">
                                                                Valider
                                                            </a>
                                                        {% elseif not app.user.user.isUserEnabled %}
                                                            <span class="badge-info-calendar">
                                                                    Compte utilisateur désactivé
                                                                </span>
                                                        {% elseif app.user.user.isUserBlockedForInsolvency %}
                                                            <span class="badge badge-info x-large-font">
                                                                    Bloqué pour insolvabilité
                                                                </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if IsExistingTakenSubleaseByDayDateAndByTakerList[dayFormat] is defined %}
                                <div class="centrage">
                                    <span data-toggle="tooltip" data-html="true" title="Mon parking emprunté">
                                        <span type="badge badge-info" class="badge badge badge-outline-dark">
                                            <span class="calendar-badge badge-light">
                                                <span class="fas fa-car-side"></span>
                                                <span class="line-break"></span>
                                                {% if date|date('Y-m-d') > "now"|date('Y-m-d', 'Europe/Paris') %}
                                                    <span class="badge badge-pill badge-danger line-break">
                                                        <span class="">
                                                            Parking
                                                            {{ IsExistingTakenSubleaseByDayDateAndByTakerList[dayFormat].subleaseParkingNumber }}
                                                        </span>
                                                    </span>
                                                    <span class="badge badge-pill badge-dark"></span>
                                                    <span class="one-line-space"></span>
                                                    <span class="line-break small">
                                                        <span class="evidenced">prêté par</span>
                                                    </span>
                                                    <span class="line-break small">
                                                        <span class="evidenced">
                                                            {{ IsExistingTakenSubleaseByDayDateAndByTakerList[dayFormat].getUser }}
                                                        </span>
                                                    </span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-danger line-break">
                                                        <span class="">
                                                            Parking
                                                            {{ IsExistingTakenSubleaseByDayDateAndByTakerList[dayFormat].subleaseParkingNumber }}
                                                        </span>
                                                    </span>
                                                    <span class="badge badge-pill badge-dark"></span>
                                                    <span class="one-line-space"></span>
                                                    <span class="line-break small">
                                                        <span class="evidenced">prêté par</span>
                                                    </span>
                                                    <span class="line-break small evidenced">
                                                        <span class="evidenced">
                                                            {{ IsExistingTakenSubleaseByDayDateAndByTakerList[dayFormat].getUser }}
                                                        </span>
                                                    </span>
                                                {% endif %}
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% if date|date('N') == 7 or loop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <span class="verticalspaces"></span>
    {% endif %}
{% endblock %}
