{% block body %}
    <div class="bottom-margin noJump">
        {% if is_granted('ROLE_TENANT') %}
            {% set money = 'payés' %}
        {% elseif is_granted('ROLE_RENTER') %}
            {% set money = 'encaissés' %}
        {% endif %}
        <div class="">
            {% if is_granted('ROLE_RENTER') %}
                <h1 class="bottom-margin-cal evidenced top-margin-cal">{{ title }}
                    <button type="button" class="btn btn-outline-dark small" data-toggle="modal"
                            data-target="#paymentOptionsModal{{ app.user.user.id }}">
                        <span class="evidenced fas fa-info"></span>
                    </button>
                </h1>

                {% include 'RenterRentalsModal.twig' %}
            {% endif %}

            {% if is_granted('ROLE_TENANT') %}
                <h1 class="bottom-margin-cal evidenced top-margin-cal">
                    {{ title }}
                </h1>
            {% endif %}

            <table class="table">
                {% for contractor in related_contractors_list %}
                    <thead>
                    <tr>
                        {% if is_granted('ROLE_TENANT') %}
                            <th scope="col" class="">{{ contractor|first|first.user.firstName }}
                                {{ contractor|first|first.user.lastName }}
                                <button type="button" class="btn btn-outline-dark small" data-toggle="modal"
                                        data-target="#paymentOptionsModal{{ contractor|first|first.user.id }}">
                                    <span class="evidenced fas fa-info"></span>
                                </button>
                            </th>
                            {% include 'TenantRentalsModal.twig' %}
                        {% elseif is_granted('ROLE_RENTER') %}
                            <th scope="col" class="">{{ contractor|first|first.taker.firstName }}
                                {{ contractor|first|first.taker.lastName }}
                            </th>
                        {% endif %}
                        {% set anySublease = null %}
                        {% for month in contractor %}
                            <th scope="col" class="">{{ month|first.dayDate|date()|localizeddate('none',
                                    'none', null, null, 'MMMM Y')
                                |capitalize }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <th scope="row"></th>

                    {% set monthTotal = 0 %}
                    {% for month in contractor %}
                        <td>
                            {% for sublease in month | reverse %}
                                {% if anySublease is null %}
                                    {% if sublease.price > 0.0 %}
                                        {% set anySublease = sublease %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% for sublease in month | reverse %}
                                {% if anySublease is null %}
                                    <span class="">{{ sublease.dayDate|date('d/m/Y') }}</span>
                                {% else %}
                                    {% if sublease.price == 0.0 %}
                                        <span class="">{{ sublease.dayDate|date('d/m/Y') }} (gratuit)</span>
                                    {% else %}
                                        <span class="">{{ sublease.dayDate|date('d/m/Y') }}</span>
                                    {% endif %}
                                {% endif %}
                                <span class="line-break"></span>
                                {% set monthTotal = monthTotal + sublease.price %}
                            {% endfor %}
                            <span class="line-break">
                                {% if monthTotal == 0 %}
                                    <span class="evidenced">Gratuit</span>
                                {% else %}
                                    <span class="evidenced">{{ monthTotal }}.-- CHF</span>
                                     {% if is_granted('ROLE_RENTER') %}
                                        <span data-toggle="tooltip" data-html="true" title="Comptabiliser">
                                        <a class="btn fas fa-cash-register black" href="{{ path('accounting_month_edit',
                                            {month:anySublease.dayDate|date('Y-m'), contractorId:anySublease.taker.id}) }}">
                                        </a>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </td>
                        {% set monthTotal = 0 %}
                        {% set anySublease = null %}
                    {% endfor %}
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
