{% block body %}
    <div class="bottom-margin noJump">
        {% if is_granted('ROLE_TENANT') %}
            {% set toBedoneWithMoney = 'payables' %}
        {% elseif is_granted('ROLE_RENTER') %}
            {% set toBedoneWithMoney = 'encaissables' %}
        {% endif %}
        <div class="">

            {% if is_granted('ROLE_RENTER') %}
                <h1 class="bottom-margin-cal evidenced top-margin-cal">{{ title }}
                    <button type="button" class="btn btn-outline-dark small" data-toggle="modal"
                            data-target="#paymentOptionsModal{{ app.user.user.id }}">
                        <span class="evidenced fas fa-info"></span>
                    </button>
                </h1>

                {% include 'RenterRentalsModal.twig' %}
            {% endif %}

            {% if is_granted('ROLE_TENANT') %}
                <h1 class="bottom-margin-cal evidenced top-margin-cal">
                    {{ title }}
                </h1>
            {% endif %}

            <table class="table">
                {% set anySublease = null %}
                {% for contractor in related_contractors_list %}
                    <thead>
                    <tr>
                        {% if is_granted('ROLE_TENANT') %}
                            <th scope="col">
                                {{ contractor|first|first.user.firstName }} {{ contractor|first|first.user.lastName }}
                                <button type="button" class="btn btn-outline-dark small" data-toggle="modal"
                                        data-target="#paymentOptionsModal{{ contractor|first|first.user.id }}">
                                    <span class="evidenced fas fa-info"></span>
                                </button>
                            </th>
                            {% include 'TenantRentalsModal.twig' %}

                        {% elseif is_granted('ROLE_RENTER') %}
                            <th scope="col">
                                {{ contractor|first|first.taker.firstName }} {{ contractor|first|first.taker.lastName }}
                            </th>
                        {% endif %}
                        {% for month in contractor %}
                            <th scope="col">{{ month|first.dayDate|date()|localizeddate('none', 'none', null, null, 'MMMM Y')
                                |capitalize }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <th scope="row"></th>
                    {% set monthTotal = 0 %}
                    {% for month in contractor %}
                        <td>
                            {% for sublease in month | reverse %}
                                {% if anySublease is null %}
                                    {% set anySublease = sublease %}
                                {% endif %}
                                {{ sublease.dayDate|date('d/m/Y') }}<br>
                                {% set monthTotal = monthTotal + sublease.price %}
                            {% endfor %}
                            <span class="line-break">
                                    <span class="evidenced">{{ monthTotal }}.-- CHF</span>

                                    <span class="small-font">
                                    {{ toBedoneWithMoney }} au {{ month|last.dueDate|date()
                                        |localizeddate('none', 'none', null, null, 'd MMMM Y') }}
                                    </span>

                                {% if ('now'|date_modify('first day of this month')
                                    >= month|last.dueDate|date_modify('first day of this month')) %}
                                    <span class="fas fa-exclamation-triangle darkred"></span>
                                {% endif %}

                                {% if is_granted('ROLE_RENTER') %}
                                    <span data-toggle="tooltip" data-html="true" title="Comptabiliser">
                                    <a class="btn fas fa-cash-register black" href="{{ path('accounting_month_edit',
                                        {month:anySublease.dayDate|date('Y-m'), contractorId:anySublease.taker.id}) }}">
                                    </a>
                                    </span>
                                {% endif %}
                            </span>
                        </td>
                        {% set monthTotal = 0 %}
                        {% set anySublease = null %}
                    {% endfor %}
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
