{% extends 'Format.twig' %}

{% block body %}

    <span class="fewverticalspaces"></span>

    <div class="contentplace">
        <h2 class="evidenced top-margin-cal">Utilisateurs</h2>
        <ul class="list-group">
            {% for user in UserList %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="linkcolorblue" href="{{ path('user_consulting',
                        { userId: user.id }) }}">{{ user.firstName }} {{ user.lastName }}
                        {% if not user.isUserEnabled %}
                            <span class="badge badge-info evidenced">
                                Désactivé
                            </span>
                        {% endif %}

                        {% if user.isUserEnabled and user.isUserBlockedForInsolvency == true %}
                            <span class="badge badge-info">
                                Bloqué pour insolvabilité
                            </span>
                        {% endif %}

                        {% if user.isUserEnabled and user.insolvencyImmunity == true %}
                            <span class="badge badge-info">
                                Immunité contre insolvabilité
                            </span>
                        {% endif %}
                    </a>
                    {% if user.role == 'ROLE_RENTER' %}
                        <span class="badge badge-primary
                        badge-pill">Propriétaire du parking {{ user.parkingNumber }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="bottom-margin"></div>
{% endblock %}
