{% extends 'Format.twig' %}

{% block body %}

    {% if ConsultedUser.role == 'ROLE_TENANT' %}
        {% set ROLE = 'Emprunteur' %}
    {% elseif ConsultedUser.role == 'ROLE_RENTER' %}
        {% set ROLE = 'Prêteur' %}
    {% else %}
        {% set ROLE = 'Administrateur' %}
    {% endif %}

    <div class="top-bottom-margin">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title user-name">{{ ConsultedUser.firstName }} {{ ConsultedUser.lastName }}
                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                | {{ ROLE }}
                            {% endif %}
                        </h5>
                        <p class="card-text">
                            {% if LoggedInUser.role == 'ROLE_RENTER' or LoggedInUser.role == 'ROLE_TENANT' %}
                            {% endif %}
                        </p>
{#                        {% if not is_granted('ROLE_ADMINISTRATOR') %}#}
{#                            <div class="user-conditions">#}
{#                                En utilisant ce logiciel, j'accepte que des informations me concernant#}
{#                                (prénom, initiales, numéro de parking, détails des transactions d'emprunts/prêts,#}
{#                                date et heure des pages consultées, messages envoyés/reçus, numéro de téléphone facultatif,#}
{#                                adresse de courriel facultative) soient enregistrées sur un serveur informatique et#}
{#                                qu'elles soient visibles par les utilisateurs ou l'administrateur.#}
{#                            </div>#}
{#                        {% endif %}#}
                        <p class="card-text">
                            {% if is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role != 'ROLE_ADMINISTRATOR' %}
                                <a href="{{ path('calendar_redirect', {'_switch_user': ConsultedUser.username}) }}"
                                   class="btn waves-effect waves-light btn-warning medium-font">
                                    <span class="bold">Incarner l'utilisateur</span>
                                </a>
                            {% endif %}
                        </p>
                        <p class="card-text fewverticalspaces">
                            {% if is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role == 'ROLE_TENANT' %}
                                {% if ConsultedUser.isUserBlockedForInsolvency %}
                                    <span class="badge badge-info">Bloqué pour insolvabilité</span>
                                {% else %}
                                    <span class="badge badge-success">Non bloqué pour insolvabilité</span>
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role == 'ROLE_TENANT' %}
                                {% if ConsultedUser.insolvencyImmunity %}
                                    <span class="badge badge-info">Immunité active</span>
                                {% else %}
                                    <span class="badge badge-danger">Immunité non active</span>
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="card-text bottom-margin-cal2">
                            {% if is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role == 'ROLE_TENANT'
                                and ConsultedUser.insolvencyImmunity != true %}
                                <a href="{{ path('user_insolvency_unblock', {'userId': ConsultedUser.id}) }}"
                                   class="btn waves-effect waves-light btn-dark medium-font">
                                    <span class="bold">Activer immunité contre insolvabilité</span>
                                </a>
                            {% elseif is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role == 'ROLE_TENANT'
                                and ConsultedUser.insolvencyImmunity == true %}
                                <a href="{{ path('user_insolvency_unblock', {'userId': ConsultedUser.id}) }}"
                                   class="btn waves-effect waves-light btn-dark medium-font">
                                    <span class="bold">Désactiver immunité contre insolvabilité</span>
                                </a>
                            {% endif %}
                        </p>

                        <p class="card-text">
                            {% if is_granted('ROLE_ADMINISTRATOR') and (ConsultedUser.role == 'ROLE_TENANT'
                                or ConsultedUser.role == 'ROLE_RENTER' or ConsultedUser.role == 'ROLE_ADMINISTRATOR') %}
                                {% if ConsultedUser.isTextingEnabled %}
                                    <span class="badge badge-info">Mode texting actif</span>
                                {% else %}
                                    <span class="badge badge-danger">Mode texting non actif</span>
                                {% endif %}
                            {% endif %}
                        </p>

                        <p class="card-text bottom-margin-cal2">
                            {% if is_granted('ROLE_ADMINISTRATOR') and (ConsultedUser.role == 'ROLE_TENANT'
                                or ConsultedUser.role == 'ROLE_RENTER' or ConsultedUser.role == 'ROLE_ADMINISTRATOR') %}
                                {% if ConsultedUser.isTextingEnabled == false or
                                    ConsultedUser.isTextingEnabled == null %}
                                    <a href="{{ path('enable_employee_texting', {'userId': ConsultedUser.id}) }}"
                                       class="btn waves-effect waves-light btn-dark medium-font">
                                        <span class="bold">Activer mode texting</span>
                                    </a>
                                {% elseif ConsultedUser.isTextingEnabled == true %}
                                    <a href="{{ path('enable_employee_texting', {'userId': ConsultedUser.id}) }}"
                                       class="btn waves-effect waves-light btn-dark medium-font">
                                        <span class="bold">Désactiver mode texting</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </p>


                        <p class="card-text">
                            {% if is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role == 'ROLE_RENTER' %}
                                {% if ConsultedUser.isFreeRenter %}
                                    <span class="badge badge-info">Mode prêteur gratuit actif</span>
                                {% else %}
                                    <span class="badge badge-danger">Mode prêteur gratuit non actif</span>
                                {% endif %}
                            {% endif %}
                        </p>

                        <p class="card-text bottom-margin-cal2">
                            {% if (is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role == 'ROLE_RENTER')
                                and (ConsultedUser.isFreeRenter == false) %}
                                <a href="{{ path('set_free_renter', {'userId': ConsultedUser.id}) }}"
                                   class="btn waves-effect waves-light btn-dark medium-font">
                                    <span class="bold">Activer mode prêteur gratuit</span>
                                </a>
                            {% elseif (is_granted('ROLE_ADMINISTRATOR') and ConsultedUser.role == 'ROLE_RENTER')
                                and (ConsultedUser.isFreeRenter == true) %}
                                <a href="{{ path('set_free_renter', {'userId': ConsultedUser.id}) }}"
                                   class="btn waves-effect waves-light btn-dark medium-font">
                                    <span class="bold">Désactiver mode prêteur gratuit</span>
                                </a>
                            {% endif %}
                        </p>



                        {% if is_granted('ROLE_PREVIOUS_ADMIN') and not is_granted ('ROLE_ADMINISTRATOR') %}
                            <a href="{{ path('calendar_redirect', {'_switch_user': '_exit'}) }}"
                               class="btn waves-effect waves-light btn-danger medium-font">
                                <span class="bold">Quitter l'utilisateur</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title user-name">
                            Données utilisateur
                        </h5>
                        <p class="card-text">Username : <span class="user-data">{{ ConsultedUser.username }}</span></p>
                        <p class="card-text">
                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                Prénom : <span class="user-data">{{ ConsultedUser.firstName }}</span>
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                Nom : <span class="user-data">{{ ConsultedUser.lastName }}</span>
                            {% endif %}
                        </p>
                        <p class="card-text">Mobile <span class="evidenced"><u>TWINT</u></span> :
                            {% if ConsultedUser.phoneNumber is not empty %}
                                {% if (is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT')) and
                                    (not is_granted('ROLE_ADMINISTRATOR')) %}
                                    <span class="user-data">{{ ConsultedUser.phoneNumber }}</span>
                                {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                                    <span class="">{{ ConsultedUser.phoneNumber }}</span>
                                {% endif %}
                            {% else %}
                                {% if (is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT')) and
                                    (not is_granted('ROLE_ADMINISTRATOR')) %}
                                    <span class="user-data">Non renseigné</span>
                                {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                                    <span class="">Non renseigné</span>
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="card-text">Email <span class="evidenced"><u>PayPal</u></span> :
                            {% if ConsultedUser.payPalEmail is not empty %}
                                {% if (is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT')) and
                                    (not is_granted('ROLE_ADMINISTRATOR')) %}
                                    <span class="user-data">{{ ConsultedUser.payPalEmail }}</span>
                                {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                                    <span class="">{{ ConsultedUser.payPalEmail }}</span>
                                {% endif %}
                            {% else %}
                                {% if (is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT')) and
                                    (not is_granted('ROLE_ADMINISTRATOR')) %}
                                    <span class="user-data">Non renseigné</span>
                                {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                                    <span class="">Non renseigné</span>
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="card-text">Mobile <span class="evidenced"><u>Revolut</u></span> :
                            {% if ConsultedUser.revolutPhoneNumber is not empty %}
                                {% if (is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT')) and
                                    (not is_granted('ROLE_ADMINISTRATOR')) %}
                                    <span class="user-data">{{ ConsultedUser.revolutPhoneNumber }}</span>
                                {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                                    <span class="">{{ ConsultedUser.revolutPhoneNumber }}</span>
                                {% endif %}
                            {% else %}
                                {% if (is_granted('ROLE_RENTER') or is_granted('ROLE_TENANT')) and
                                    (not is_granted('ROLE_ADMINISTRATOR')) %}
                                    <span class="user-data">Non renseigné</span>
                                {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                                    <span class="">Non renseigné</span>
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {% if ConsultedUser.role == 'ROLE_RENTER' and not is_granted('ROLE_ADMINISTRATOR') %}
                                Propriétaire du parking no : {{ ConsultedUser.parkingNumber }}
                            {% endif %}
                            {% if ConsultedUser.role == 'ROLE_RENTER' and is_granted('ROLE_ADMINISTRATOR') %}
                                Propriétaire du parking no :
                                <span class="user-data">{{ ConsultedUser.parkingNumber }}</span>
                            {% endif %}
                        </p>
                        {% if LoggedInUser.role == 'ROLE_RENTER' or LoggedInUser.role == 'ROLE_TENANT' %}
                            <a href="{{ path('username_update', {'userId': ConsultedUser.id }) }}"
                               class="btn waves-effect waves-light btn-dark medium-font">
                                <span class="evidenced">Modifier</span>
                            </a>
                        {% endif %}
                        {% if LoggedInUser.role == 'ROLE_ADMINISTRATOR' %}
                            <a href="{{ path('user_update', {'userId': ConsultedUser.id }) }}"
                               class="btn waves-effect waves-light btn-dark medium-font">
                                <span class="evidenced">Modifier</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card-body">
                    {% if LoggedInUser.id == 28 %}
                        <img src="{{ asset('dam.png') }}" style="width: 300px;height: 200px;" type="image/png" alt="fran"/>
                    {% elseif LoggedInUser.id == 10 %}
                        <img src="{{ asset('puglia.png') }}" style="width: 300px;height: 200px;" type="image/png" alt="fran"/>
                    {% elseif LoggedInUser.id == 16 %}
                        <img src="{{ asset('cobretti.png') }}" style="width: 400px;height: 500px;" type="image/png" alt="fran"/>
                    {% endif %}
                </div>
                {% if LoggedInUser.role == 'ROLE_ADMINISTRATOR' and ConsultedUser.role != 'ROLE_ADMINISTRATOR' %}
                    <div class="card">
                        <div class="card-body">
                            {% if ConsultedUser.isUserEnabled %}
                                <span class="badge badge-success fas fa-microphone medium-font"> Compte utilisateur actif</span>
                                <span class="line-break"></span>
                                <a href="{{ path('user_enable', {userId:ConsultedUser.id}) }}"
                                   class="btn waves-effect waves-light btn-dark medium-font">
                                    <span class="evidenced">Désactiver</span>
                                </a>
                            {% else %}
                                <span class="badge badge-info fas fa-microphone-slash medium-font">
                                    Compte utilisateur désactivé
                                </span>
                                <span class="line-break"></span>
                                <a href="{{ path('user_enable', {userId:ConsultedUser.id}) }}"
                                   class="btn waves-effect waves-light btn-dark medium-font">
                                    <span class="evidenced">Activer</span>
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if ConsultedUser.role == 'ROLE_RENTER' %}
                                <span class="badge badge-light medium-font">{{ RelatedSubleasesCounter }}
                                    prêt(s) proposé(s)
                                </span>
                            {% elseif ConsultedUser.role == 'ROLE_TENANT' %}
                                <span class="badge badge-light medium-font">{{ RelatedSubleasesCounter }}
                                    emprunt(s)
                                </span>
                            {% endif %}
                        </div>

                        {% if RelatedSubleasesCounter == 0 %}

                            <div class="card-body">
                                <span class="badge badge-danger fa fa-user-slash medium-font"> Supprimer utilisateur</span>
                                <span class="line-break"></span>

                                <!-- Button trigger modal -->
                                <button class="btn waves-effect waves-light btn-dark medium-font" data-toggle="modal"
                                        data-target="#removeModal">
                                    <span class="evidenced">Supprimer</span>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                                     aria-labelledby="removeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="removeModalLabel">
                                                    <span class="evidenced">Confirmation de suppression</span>
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                L'utilisateur <span class="evidenced">{{ ConsultedUser }}</span> sera supprimé.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Annuler
                                                </button>
                                                <a class="btn btn-primary"
                                                   href="{{ path('user_remove',
                                                       { userId:ConsultedUser.id }) }}">
                                                    Valider
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title user-name">
                            Mot de passe
                        </h5>
                        {% if LoggedInUser.role == 'ROLE_ADMINISTRATOR' or LoggedInUser == ConsultedUser %}
                            <span class="card-text">
                                {{ form_start(formularPass) }}
                            <div>{{ form_row(formularPass.password.first) }}</div>
                            <div>{{ form_row(formularPass.password.second) }}</div>

                            <button type="submit" class="btn waves-effect waves-light btn-dark top-margin-cal">
                                <span class="evidenced">Enregistrer</span>
                            </button>

                            {{ form_widget(formularPass) }}
                                {{ form_end(formularPass) }}
                                {% for message in app.flashes('success') %}
                                    <div class="flash-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
