{% extends 'Format.twig' %}

{% block body %}
    <p>
        <a href="{{ path('user_consulting', {userId: ExistingUser.id}) }}">
            <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font">
                <span class="evidenced">Annuler</span>
            </button>
        </a>
    </p>
    <h2 class="top-margin-cal bottom-margin-cal evidenced">
        Modification des données utilisateur
    </h2>

    {{ form_start(formular) }}

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.username) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_row(formular.firstName) }}
    </div>
    <div class="form-group">
        {{ form_row(formular.lastName) }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.parkingNumber) }}
        </div>
    </div>

    <button type="submit" class="btn waves-effect waves-light btn-dark x-large-font">Enregistrer</button>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}


    <div class="verticalspaces"></div>

{% endblock %}
