{% extends 'Format.twig' %}

{% block body %}

    <span class="fewverticalspaces"></span>

    {% if Role == 'ROLE_RENTER' %}
        <h1 class="evidenced top-margin-cal">Création d'un utilisateur prêteur</h1>
    {% endif %}

    {% if Role == 'ROLE_TENANT' %}
        <h1 class="evidenced top-margin-cal">Création d'un utilisateur emprunteur</h1>
    {% endif %}

    <br>

    {{ form_start(formular) }}

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.username) }}
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col-md-3">
                {{ form_row(formular.password.first) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_row(formular.password.second) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_row(formular.firstName) }}
    </div>
    <div class="form-group">
        {{ form_row(formular.lastName) }}
    </div>

    {% if Role == 'ROLE_RENTER' %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(formular.parkingNumber) }}
            </div>
        </div>
    {% endif %}
    <button type="submit" class="btn waves-effect waves-light btn-dark x-large-font">Enregistrer</button>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}

    <div class="verticalspaces"></div>

{% endblock %}
