{% extends 'Format.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>
    <div class="example-wrapper">
        <h1 class="bottom-margin-cal evidenced top-margin-cal">Messages envoyés :</h1>
        {% if TransmittedMessagesList is not empty %}
            {% for message in TransmittedMessagesList %}
                <span class="line-break evidenced">
                    Date d'envoi : {{ message.creationDate|date('d-m-Y à H:i:s', 'Europe/Paris') }}
                </span>
                <span class="line-break evidenced">Expéditeur : {{ message.transmitter }}</span>
                <span class="line-break evidenced">Destinataire : {{ message.receiver }}</span>
                <span class="line-break evidenced">Message :</span>
                <span class="line-break word top-margin-cal message-color">{{ message.message }}</span>
                {% if message.receiptAcknowledgement %}
                    <span class="fa fa-check-circle top-margin-cal"> Lu</span>
                    <span class="evidenced">par {{ message.receiver }}</span>
                    {% if message.readingDate is not null %}
                        <span class="evidenced">le
                            {{ message.readingDate|date('d-m-Y à H:i:s', 'Europe/Paris') }}
                        </span>
                    {% endif %}
                {% else %}
                    <span class="fa fa-hourglass top-margin-cal"> Non lu</span>
                {% endif %}
                <span class="line-break"></span>

                {% if not is_granted('ROLE_PREVIOUS_ADMIN') and not message.isArchivedByReceiver %}
                    <a class="btn waves-effect waves-light btn-dark top-margin-cal" href="{{ path('message_archive',
                        {'messageId': message.id}) }}">Supprimer
                    </a>
                {% endif %}

                {% if not is_granted('ROLE_PREVIOUS_ADMIN') and message.isArchivedByReceiver %}
                    <a class="btn waves-effect waves-light btn-dark" href="{{ path('message_remove',
                        {'messageId': message.id}) }}">Supprimer
                    </a>
                {% endif %}

                {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="btn waves-effect waves-light btn-danger top-margin-cal" href="{{ path('message_remove',
                        {'messageId': message.id}) }}">Supprimer définitivement
                    </a>
                {% endif %}


                <span class="line-break">&nbsp</span>
                <span class="line-break">&nbsp</span>
                <span class="line-break">&nbsp</span>
            {% endfor %}
        {% else %}
            <span class="empty-information">Aucun message</span>
        {% endif %}
    </div>
    <div class="bottom-margin"></div>
{% endblock %}
