{% extends 'Format.twig' %}

{% block body %}


    <h2 class="top-margin-cal bottom-margin-cal">
        <span class="evidenced">Modification du prix d'emprunt</span>
    </h2>

    {{ form_start(formular) }}

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_row(formular.price) }}
        </div>
    </div>

    <a href="{{ path('show_site_option') }}">
        <button type="button" class="btn waves-effect waves-light btn-dark x-large-font">
            <span class="evidenced">Annuler</span>
        </button>
    </a>
{#    <a class="btn waves-effect waves-light btn-dark x-large-font" href="{{ path('set_site_options') }}">Modifier</a>#}
    <button type="submit" class="btn waves-effect waves-light btn-dark x-large-font evidenced">
        Enregistrer
    </button>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}

{% endblock %}
